<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>REGISTRATION FORM</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/registration}" th:object="${newuser}">
  <label for="email">email: </label>
  <input type="email" th:field="*{email}" id="email" required/>
  <br/>
  <label for="name">name: </label>
  <input type="text" th:field="*{name}" id="name" required/>
  <br/>
  <label for="surname">surname: </label>
  <input type="text" th:field="*{surname}" id="surname" required/>
  <br/>
  <label for="password">password: </label>
  <input type="password" th:field="*{password}" id="password" required/>
  <br/>
  <label>Role:</label>
  <div th:each="role : ${allRoles}">
    <input type="checkbox" th:name="roles" th:value="${role.id}">
    <span th:text="${role.roleName}"></span>
  </div>
  <input type="submit" value="SAVE"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>